<div class="container-fluid py-5 bg-inverno">
    <div class="row d-flex align-items-center">
      <div class="col-md-2"></div>
      <div class="col-12">
        <div class="card borda">
          <div class="card-body">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
              <li class="nav-item pb-2">
                <img
                  src="../../assets/grupowl.png"
                  alt="GrupoWL"
                  width="100px"
                  height="100px"
                  class="img-fluid pt-2 pb-2"
                />
              </li>
            </ul>
            <h6 class="card-subtitle mb-2 text-muted text-center text-black">
              Holding especialista em Tecnologia e Inovação
            </h6>
  
              <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-10">
                    
                    <div class="container mb-5 mt-5" id="postagens">

                        <ul class="nav nav-tabs d-flex justify-content-center " id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active text-white bg-dark" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true" >Café da Manhã</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active"  id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab" >

                              <div class="card-group mt-5">
                                <div class="card">
                                  <div class="card-body" *ngFor='let item of listaFuncionario'>
                                    <h5 class="card-title ml-5">{{item.nome}}</h5>
                                    <p class="card-text"></p>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-body" *ngFor='let opcoes of listaOpcoes'>
                                    <h5 class="card-title ml-5">{{opcoes.item}}</h5>
                                    <p class="card-text"></p>
                                  </div>
                                  </div>
                                </div>
                                </div>
                              </div>
                            
                             
                          </div>
                          <div class="row d-flex mt-5 justify-content-center">
                            <div class="col-md-3">
                            <button
                              type="submit"
                              class="btn bg-dark text-white btn-style w-100"
                              routerLink="/inicio"
                            >
                              Voltar
                            </button>
                          </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
</div>